/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --color-header_footer_text: #FFC2E6;
  --color-title_text: #353430;
  --color-headline_text: #353430;
  --color-text: #353430;
  --text-shadow-dark: 4px 4px 0 #FF8DCB;;
  --font-family: "IBM Plex Mono";
  --background-text-color-dark: #FF8DCB;;
  --background-color-dark: #FFF; 
  --button-text_color: #353430;
  --button_hover-color: rgba(50, 49, 45, 0.40);
  --background-image: url(../images/cover-image-light.png);
  --z-index: -1;
}

@media (prefers-color-scheme: light) {
  
  :root {
        /* Дублируем переменные светлой темы */    
        --color-header_footer_text: #FFC2E6;
        --color-title_text: #353430;
        --color-headline_text: #353430;
        --color-text: #353430;
        --text-shadow-dark: 4px 4px 0 #FF8DCB;;
        --font-family: "IBM Plex Mono";
        --background-text-color-dark: #FF8DCB;
        --button-text_color: #353430;
        --button_hover-color: rgba(50, 49, 45, 0.40);
        --background-color-dark: #FFF; 
        --background-image: url(../images/cover-image-light.png);
    }

  .rec_text {
    z-index: var(--z-index);
  }
}
