/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: grid;
  gap: 40px;
  background-color: var(--background-color-dark);
  background-position: center;
  background-attachment: fixed;
  font-family: var(--font-family);
}

.header {
  position: relative;
  display: grid;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
  background-color: var(--background-text-color-dark);
}

.decorated-zone {
  padding: 10px;
  min-height: 100vh;
}

.rectangle_up {
  position: absolute;
  height: 25px;
  width: 25px;
  border-top: 1px solid var(--background-text-color-dark);
  border-right: 1px solid var(--background-text-color-dark);
  text-transform: uppercase;
  right: 10px;
  top: 10px;
}

.rectangle_down {
  position: absolute;
  height: 25px;
  width: 25px;
  border-bottom: 1px solid var(--background-text-color-dark);
  border-left: 1px solid var(--background-text-color-dark);
  text-transform: uppercase;
  left: 10px;
  bottom: 10px;
}

.rec_text {
  position: absolute;
  right: 26px;
  top: 0;
  color: var(--background-text-color-dark);
  text-align: center;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
  z-index: var(--z-index)
}

.rec_text::after {
  position: absolute;
  content: "";
  display: flex;
  height: 9px;
  width: 9px;
  flex-shrink: 0;
  background-color: var(--background-text-color-dark);
  left: 41px;
  bottom: 9px;
  box-shadow: 0 0 3px 2px var(--background-text-color-dark);
  border-radius: 10px;
}

.header__theme-menu {
  display: grid;
  justify-content: end;
  padding-top: 65px;
  padding-bottom: 65px;
 padding-right: 5px;
}

.header__theme-menu-list {
  display: grid;
  gap: 13px;
  color: var(--button-text_color);
  text-align: center;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 100% */  
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  text-transform: lowercase;
}

.header__theme-menu-button:active {
  outline: 1px solid var(--button-border-color);
  outline-offset: 4px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button_hover-color);
  outline-offset: 4px;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--background-text-color-dark);
  outline-offset: 4px;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-border-color);
  outline-offset: 4px;
  pointer-events: none;
}

.header__theme-menu-button_type_dark {
  margin-top: 6px;
  margin-right: 2px;
}

.header__title {
  display: grid;
  align-items: center;
}

.title {
  color: var(--color-header_footer_text);
  text-shadow: var(--text-shadow-dark);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  font-family: inherit;
}

.header__text {
  color: var(--color-headline_text);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  font-family: var(--font-family);
  margin-top: 52px;
  margin-bottom: 50px;
  align-self: start;
}

.link__text {
  text-shadow: 2px 2px 0 var(--background-text-color-dark);
  text-decoration: none;
}

.link__text:hover {
  text-decoration: underline;
}

.link__text:focus {
  outline: none;
}

.link__text:focus-visible {
  outline: 1px solid var(--background-text-color-dark);
}

.main {
  padding-left: 10px;
  padding-right: 10px;
  display: grid;
  gap: 50px;

}

.main__title {
  color: var(--color-title_text);
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.section {
  display: grid;
  gap: 20px;
}

.paragraph__items-second_section {
  display: grid;
  gap: 20px;
}

.paragraph__title {
  color: var(--color-headline_text);
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  background-color: var( --background-text-color-dark);
  }

.light_text {
  font-weight: 400;
}

.paragraph__text {
  color: var(--color-text);
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
  padding-top: 10px;
}

.paragraph__question {
  color: var(--color-headline_text);
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  background-color: var( --background-text-color-dark);
}

.paragraph__question_second-section {
  color: var(--color-headline_text);
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  background-color: var( --background-text-color-dark);
}

.section_gallery {
  display: grid;
  gap: 10px;
}

.gallery_items {
  display: grid;
  gap: 10px;
}

.images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.decorated-zone-footer {
  min-height: 100vh;
  padding: 10px;
}

.footer_text {
  color: var(--color-header_footer_text);
  text-shadow: var(--text-shadow-dark);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  font-family: inherit;
}

@media (width >= 768px) {
  
  .page {
    gap:60px;
  }

  .decorated-zone {
    padding: 20px 20px 20px 0;
  }

  .rectangle_up {
    right: 20px;
    top: 20px;
  }
  
  .rectangle_down {
    left: 20px;
    bottom: 20px;
  }

  .header__theme-menu {
    display: grid;
    justify-content: end;
    padding-top: 176px;
    padding-bottom: 70px;
    padding-right: 5px;
    grid-template-rows: min-content;
  }

  .header__theme-menu-button_type_dark {
    margin-top: 4px;
  }

  .header__text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 57px;
    margin-left: 20px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    grid-template-rows: min-content;
    padding-bottom: 5px;
  }

  .text {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .main {
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    gap: 80px;
  }

  .title_big-resolution {
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .first_section {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
  }

  .paragraph_big-resolution_first_row {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .paragraph_big-resolution_second_row {
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .title_big_resolution_second_section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    line-height: 23px;
  }
  
  .second_section__text-big-resolution {
    line-height: 23px; 
    padding-bottom: 2px;
  }

  .paragraph__items-second_section {
    display: grid;
    grid-row: 2/3;
  }

  .third_section {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr fit-content() 1fr 1fr;
  }

  .title_big_resolution_third_section {
    grid-row-start: 1;
    grid-row-end: 7;
  }

  .section_gallery {
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: fit-content();
  }

  .gallery_items {
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .image-sunset {
    grid-row: 1;
    grid-column: 1/3;
  }

  .image-ice_cream {
    grid-row: 1/3;
    grid-column: 3/4;
  }

  .image-tape {
    grid-row: 2/4;
    grid-column: 1/2;
  }

  .image-books {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  .image-street {
    grid-row: 3/4;
    grid-column: 2/4;
  }

  .footer_text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .decorated-zone-footer {
    padding: 20px;
  }
}

@media (width >= 1024px) {
  
  .page {
    gap:60px;
  }

  .decorated-zone {
    padding: 20px 20px 20px 0;
  }

  .rectangle_up {
    right: 20px;
    top: 20px;
  }
  
  .rectangle_down {
    left: 20px;
    bottom: 20px;
  }

  .header__theme-menu {
    display: grid;
    justify-content: center;
    align-content: start;
    padding-top: 0;
    padding-bottom: 216px;
    padding-right: 5px;
    padding-left: 21px;
    grid-template-rows: min-content;
  }
  
  .header__theme-menu-list {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 23px;
  }

  .header__theme-menu-button_type_dark {
    margin-top: 0;
  }

  .header__text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 18px;
    grid-template-rows: min-content;
  }

  .text {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-left: 2px;
  }

  .main {
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    gap: 80px;
  }

  .title_big-resolution {
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .first_section {
    grid-template-columns: 315px 2fr;
    grid-template-rows: repeat(2, 1fr);
  }

  .paragraph_big-resolution_first_row {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .paragraph_big-resolution_second_row {
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .title_big_resolution_second_section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    line-height: 23px;
  }
  
  .second_section__text-big-resolution {
    padding-bottom: 2px;
    line-height: 23.4px;
  }

  .paragraph__items-second_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .third_section {
    grid-template-columns: 315px 2fr;
  }

  .light_text {
    line-height: 23px;
  }

  .title_big_resolution_third_section {
    grid-row-start: 1;
    grid-row-end: 7;
  }

  .section_gallery {
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: fit-content();
  }

  .gallery_items {
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .image-sunset {
    grid-row: 1;
    grid-column: 1/3;
  }

  .image-ice_cream {
    grid-row: 1/3;
    grid-column: 3/4;
  }

  .image-tape {
    grid-row: 2/4;
    grid-column: 1/2;
  }

  .image-books {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  .image-street {
    grid-row: 3/4;
    grid-column: 2/4;
  }
}