/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --color-header_footer_text: #db00ff;
  --color-title_text: #ff0070;
  --color-headline_text: #000028;
  --color-text: #f1b2ce;
  --text-shadow-dark: 4px 4px 0px #ff0070;
  --font-family: IBM Plex Mono;
  --background-text-color-dark: #ff0070;
  --background-color-dark: #000028; 
}